* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  text-align: center;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: minmax(120px, 250px) 1fr;
  grid-template-rows: minmax(120px, 200px) 4fr;
}

.topbar {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #fff;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #3b82f6;
  color: #fff;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #f3f4f6;
  padding: 30px;
}

ul {
  display: grid;
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  list-style-type: none;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  margin-left: 30px;
  margin-top: 20px;
}

.search input {
  grid-row: 1/3;
  background-color: #e2e8f0;
  border: none;
  border-radius: 15px;
  height: 2rem;
  max-width: 600px;
  min-width: 700px;
  line-height: 2rem;
  padding: 15px;
  align-self: center;
  margin-right: auto;
  width: 100%;
  margin-left: 20px;
}

.search .fa-magnifying-glass {
  color: #000;
  grid-row: 1 / 3;
  align-self: center;
}

.sideicons {
  display: flex;
  gap: 15px;
  margin-right: 30px;
  justify-content: flex-end;
}

.new {
  background-color: #3b82f6;
  color: #f3f4f6;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
}

.upload {
  background-color: #3b82f6;
  color: #f3f4f6;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
}

.share {
  background-color: #3b82f6;
  color: #f3f4f6;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
}

.dashboard {
  font-size: 32px;
  margin-left: 20px;
  padding-top: 50px;
}

.uppersidebar {
  gap: 20px;
  margin-top: 10px;
}

.hometop {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.lowersidebar {
  gap: 20px;
  margin-top: 70px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* max-width: 70%; */
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border-left: 5px solid #eab308;
  font-weight: 200;
  width: 100%;
  text-align: left;
  max-width: 400px;
  padding: 50px 50px 0px 20px;
  /* max-height: 300px; */
}

.ann {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px 10px 0px;
}

.topic {
  font-weight: 700;
  padding-bottom: 7px;
}

.rightinfo {
  display: flex;
  flex-direction: column;
}
.info {
  background-color: #fff;
  border-radius: 12px;
  max-width: 300px;
  text-align: left;
  font-weight: 200;
  padding: 60px 30px 60px 30px;
}

.people {
  display: grid;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 300px;
  text-align: left;
  font-weight: 200;
  padding: 20px 30px 20px 60px;
}

/* .main {
  display: flex;
  flex-wrap: wrap;
} */

.icons {
  margin-left: 25px;
}

.maincontent {
  display: flex;
  gap: 30px;
}

.hi {
  font-size: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.notes {
  text-align: left;
  margin-left: 10px;
}

.toprighticons {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 1em;
}

.bottomtopicons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  margin-top: 2rem;
}

.notewithpic {
  margin-left: 25px;
}

.trending {
  padding: 30px 220px 10px 20px;
}

.topicons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.cardicons {
}
